html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
body {
  overflow: hidden;
  background-color: red;
}

.slide {
  height: auto;
  width: 100%;
  position: relative;
  min-height: 700px;
  overflow-x: hidden;
}
.slide .slideInner {
  position: relative;
  left: 0;
  margin-left: 0;
  min-height: 700px;
}
.slide .slideInner .ban_c {
  width: 100%;
  position: absolute;
}
.slide .slideInner .ban_c .img {
  width: 100%;
  min-height: 700px;
}
.slide .slideInner .ban_c img {
  width: 100%;
  height: auto;
  display: block;
}
.slide .navListBox {
  position: absolute;
  left: 50%;
  top: 95%;
  z-index: 99;
}
.slide .navListBox li {
  width: 12px;
  height: 12px;
  float: left;
  margin-left: 5px;
  border-radius: 50%;
  overflow: hidden;
}
.slide .navListBox li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 5px #666 inset;
}
.slide .navListBox li a.active {
  background-color: #55ddff;
}
.slide .nav {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}
.slide .nav .prevBtn, .slide .nav .nextBtn {
  background: url('../images/ban_pre.png?1466676470') no-repeat;
  width: 41px;
  height: 119px;
  position: absolute;
  left: 5%;
  top: 50%;
  margin-top: -60px;
}
.slide .nav .nextBtn {
  background: url('../images/ban_next.png?1466676470') no-repeat;
  left: auto;
  right: 5%;
}

.frontCover {
  float: left;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.frontCover li {
  width: 100px;
  float: left;
  height: 100px;
  overflow: hidden;
  margin-left: 20px;
}
.frontCover li .smallimg {
  width: 100%;
  height: 100px;
  background-size: cover;
}
.frontCover li .smallimg img {
  width: 100%;
  height: auto;
}
.frontCover li.active {
  border: 5px solid #000;
}
