$spriteSrc:'../../images/sprite.png';
	$icon-bubble-active : 55px 30px -55px -30px 16px 16px 78px 70px $spriteSrc ;
	$icon-bubble : 0px 54px 0px -54px 16px 16px 78px 70px $spriteSrc ;
	$icon-sprite : 0px 0px 0px 0px 47px 46px 78px 70px $spriteSrc ;
	$icon-star : 55px 0px -55px 0px 23px 22px 78px 70px $spriteSrc ;
