extends ./layout/layout
block append head
	title 弹出框demo
	link(rel='stylesheet' href='css/reset.css')
	link(rel='shortcut icon' href='http://img1.2345.com/zsimg/images/v2/16.ico' type="image/x-icon")
	meta(content="" name="Description")
	meta(content="" name="Keywords")
block content
	