@import "compass","compass/reset","compass/css3","_sp-mixin";
body{overflow: hidden;background-color: red;}
.slide{
	height: auto;
	width: 100%;
	position: relative;
	min-height: 700px;
	overflow-x:hidden; 
	.slideInner{
		position: relative;
		left: 0;
		margin-left: 0;
		min-height: 700px;
		.ban_c{
			width: 100%;
			position: absolute;
			.img{width: 100%;min-height: 700px}
			img{width: 100%;height: auto;display: block;}
		}
	}
	.navListBox{
		position: absolute;
		left: 50%;
		top: 95%;
		z-index: 99;
		li{
			width: 12px;
			height: 12px;
			float: left;
			margin-left: 5px;
			border-radius: 50%;
			overflow: hidden;
			a{
				display: block;
			    width: 100%;
			    height: 100%;
			    border-radius: 50%;
			    background-color: #fff;
			    @include box-shadow(0 0 5px #666 inset);
			    &.active{
			    	background-color: #55ddff;
			    }
			}
		}
	}
	.nav{
		position: absolute;
		width: 100%;
		top: 0;
		height: 100%;
		.prevBtn,.nextBtn{
			background:image-url("ban_pre.png") no-repeat;
			width: 41px;
			height: 119px;
			position: absolute;
			left: 5%;
			top:50%;
			margin-top: -60px;
		}
		.nextBtn{
			background: image-url("ban_next.png") no-repeat;
			left: auto;
			right: 5%;
		}
	}
}
.frontCover{
	// width: 100%;
	float: left;
	height: 100px;
	position: relative;
	overflow: hidden;
	li{
		width: 100px;
		float: left;
		height: 100px;
		overflow: hidden;
		margin-left: 20px;
		.smallimg{
			width: 100%;
			height: 100px;
			background-size: cover;
			img{width: 100%;height: auto;}
		}
		&.active{
			border:5px solid #000;
		}
	}
}